@import 'node_modules/@blueprintjs/core/lib/scss/variables';

html, body, #app, .full-height {
	height: 100%;
	display: flex;
	flex-direction: column;
}


.bank-transactions-list {
	height: calc(100% - 100px); //Leave room for 2 navbars

	.ReactTable {
		height: 100%;
	}
}

.amount {
	text-align: right !important;

	.income {
		color: green;
	}
	.expense {
		color: red;
	}
}

.import {
	.dropzone-active {
		background-color: lightgreen !important;
	}
}

.manage-accounts {
	td {
		vertical-align: middle !important;
	}
}

.manage-categories {
	table {
		width: 100%;
	}
	td:first-child {
		width: 100%;
	}
}

.manage-rules {
	td:first-child {
		width: 70%;
	}
	td:nth-child(2) {
		width: 25%;
	}
}

.reports {
	display: flex;
	flex: 1;
	flex-direction: column;

	.column {
		display: inline-block;
		vertical-align: top;
	}
}

.filter-bar-date-menu {
	.pt-popover-wrapper {
		display: initial !important;
	}
}

.boxed-page {
	background-color: $light-gray5;
	flex: 1;
	display: flex;
	flex-direction: column;

	.thin {
		margin-left: auto;
		margin-right: auto;
		width: 800px;

		display: flex;
		flex-direction: column;
	}

	.pt-card {
		margin-bottom: 20px;
	}
}

.budgets {
	table {
		width: 100%;
		display: flex;
		flex-direction: column;

		thead, tbody, tfoot {
			display: block;
		}

		tbody {
			overflow-y: scroll;
		}

		td, th {
			display: inline-block;
		}

		td:not(:first-child), th:not(:first-child) {
			text-align: right;
		}

		td, th {
			width: 80px;
			padding: 4px 0;
		}
		td:nth-child(1), th:nth-child(1) {
			width: 160px;
		}

		.pt-editable-text-input {
			text-align: right;
		}
	}

	.percent.on-budget {
		color: green;
	}
	.percent.over-budget {
		color: red;
	}

	.no-budget {
		opacity: 0.5;
	}
	.overall {
		font-weight: bold;
	}

	.small-button {
		padding-top: 0;
		padding-bottom: 0;
		min-height: 10px;
		vertical-align: bottom;
	}
}