html, body, #app, .full-height {
	height: 100%;
}


.bank-transactions-list {
	.amount {
		text-align: right;

		.income {
			color: green;
		}
		.expense {
			color: red;
		}
	}
}

.import {
	.dropzone-active {
		background-color: lightgreen !important;
	}
}


.manage-accounts {
	td {
		vertical-align: middle !important;
	}
}