html, body, #app, .full-height {
	height: 100%;
}


.bank-transactions-list {
	height: calc(100% - 100px); //Leave room for 2 navbars

	.ReactTable {
		height: 100%;
	}
}

.amount {
	text-align: right !important;

	.income {
		color: green;
	}
	.expense {
		color: red;
	}
}

.import {
	.dropzone-active {
		background-color: lightgreen !important;
	}
}


.manage-accounts {
	td {
		vertical-align: middle !important;
	}
}

.reports {
	height: 100%;
	.column {
		display: inline-block;
		vertical-align: top;
	}
}

.filter-bar-date-menu {
	.pt-popover-wrapper {
		display: initial !important;
	}
}